h1
{
  margin-bottom:0;clear:both;text-align:center;font-size:70px;
}
#menu
{
  background-color:#FFD700;width:100%;float:left;font-size:36px;
}
#content
{
  background-color:#00BFFF;width:100%;float:left;font-size:36px;
}
p
{
  font-size:30px;font-fanily:'宋体';
}
button
{
  font-size:50px;color:blue;background-color:orange;text-align:center;
}
input
{
  font-size:50px;width:300px;height:100px;text-align:center;
}
#container
{
  width:100%;
}
#header
{
  background-color:#FFA500;
}
